body {

    font-size: 15pt;

    background:url("https://media.discordapp.net/attachments/983502610294251543/983512811839844382/8e3d1e14c64e0dffcff7b66c4291708b.jpg");

    color: #b32fba;

    font-family: 'Open Sans', sans-serif;

}

#titelfoto{

  width: 50px;

  height: 50px;

  border-radius: 50%;

  padding: 7px;

  margin: auto;

}

#titelid{

  border: 5px solid;

  border-radius: 15px;

  margin-bottom: 20px;

}

#titel2{

  text-align: center;

  border: 3px solid;

  border-radius: 15px;

  margin-bottom: 40px;

  

  

}

#desc{

  margin: 10px;

}

#downloadbtn{

 background: black;

  color: white;

  border: 5px solid purple;

 padding-left: 100px;

 padding-right: 100px;

 padding-top: 15px;

 padding-bottom: 15px;

 margin-bottom: 50px;

  text-decoration: none;

  border-radius: 15px;

  position: center;

  width: 60%;

}

#homepfp{

   width: 80%;

  height: 80%;

  padding: 1px;

  border: 3px solid ;

  border-radius: 25px;

  background-color: black;

}

#homepfpborder{

  text-align: center;

  border: 6px solid ;

  border-radius: 30px;

  width: 50%;

  padding: 5%;

  margin: auto;

  margin-bottom: 10px;

  

}

#dctag{

  color: ghostwhite;

}

#tagg{

  font-size: 40px;

  font-weight: 600;

  

  

}

#tl{

  border: 2px solid;

  border-radius: 15px;

  background:url("https://media.discordapp.net/attachments/983502610294251543/983675213554274356/ezgif.com-gif-maker.gif");

}

#tlS{

  text-align: center;

  color: White;

}

#h55{

  color: whitesmoke;

  text-align: center;

}

#download{

background: black;

  color: white;

  border: 5px solid purple;

  padding: 20px;

  text-decoration: none;

  border-radius: 12px;

  position: center;

  width: 30px;

  padding: 5px;

}

